# direnv Config File
#
# References:
# - https://direnv.net/
# - https://github.com/pyenv/pyenv
# - https://docs.python.org/3/using/cmdline.html#environment-variables

python_version_file_path="./"
python_version_file="$(realpath ${python_version_file_path})/.python-version"

echo "Using .python-version File: ${python_version_file}"

# export PYTHONHOME=""
# export PYTHONPATH=""
# export PYTHONSAFEPATH=""
# export PYTHONPLATLIBDIR=""
# export PYTHONSTARTUP=""
# export PYTHONOPTIMIZE=""
# export PYTHONBREAKPOINT=""
# export PYTHONDEBUG=""
# export PYTHONINSPECT=""
# export PYTHONUNBUFFERED=""
# export PYTHONVERBOSE=""
# export PYTHONCASEOK=""
# export PYTHONDONTWRITEBYTECODE=""
# export PYTHONPYCACHEPREFIX=""
# export PYTHONHASHSEED=""
# export PYTHONINTMAXSTRDIGITS=""
# export PYTHONIOENCODING=""
# export PYTHONNOUSERSITE=""
# export PYTHONUSERBASE=""
# export PYTHONEXECUTABLE=""
# export PYTHONWARNINGS=""
# export PYTHONFAULTHANDLER=""
# export PYTHONTRACEMALLOC=""
# export PYTHONPROFILEIMPORTTIME=""
# export PYTHONASYNCIODEBUG=""
# export PYTHONMALLOC=""
# export PYTHONMALLOCSTATS=""
# export PYTHONLEGACYWINDOWSFSENCODING=""
# export PYTHONLEGACYWINDOWSSTDIO=""
# export PYTHONCOERCECLOCALE=""
# export PYTHONDEVMODE=""
# export PYTHONUTF8=""
# export PYTHONWARNDEFAULTENCODING=""
# export PYTHONNODEBUGRANGES=""
# export PYTHONTHREADDEBUG=""
# export PYTHONDUMPREFS=""
# export PYTHONDUMPREFSFILE=""

watch_file "${python_version_file}"

python_version=$(cat "${python_version_file}")

layout pyenv "${python_version}"
