# direnv Configuration
#
# References:
#	- https://direnv.net/
#	- https://github.com/pyenv/pyenv

# Use `.python-version` file to set the Python Version in `direnv`
layout pyenv $(cat ./.python-version)

# Environment Variables
